@model PostCreateViewModel 

<div class="row">
    <div class="col-12">
        <div class="bg-white p-4">
            <h1>Post Edit</h1>
            <form action="Edit" method="post">
                <input type="hidden" asp-for="PostID" />
                <div class="mb-3">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="Url" class="form-label"></label>
                    <input asp-for="Url" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="Content" class="form-label"></label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                </div>

                @if (User.FindFirstValue(ClaimTypes.Role) == "admin")
                {
                    <div class="form-check mb-3">
                        <input class="form-check-input" asp-for="IsActive" />
                        <label asp-for="IsActive">Aktif Mi</label>
                    </div>
                }

                <button type="submit" class="btn btn-success">Edit</button>
            </form>
        </div>
       

    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.6.1/tinymce.min.js" integrity="sha512-bib7srucEhHYYWglYvGY+EQb0JAAW0qSOXpkPTMgCgW8eLtswHA/K4TKyD4+FiXcRHcy8z7boYxk0HTACCTFMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        tinymce.init({
            selector: '#Content'
        });
    </script>
}